[submodule "asset-server"]
	path = asset-server
	url = /Users/rik/Develop/Personal/setup/asset-server
	branch = master
[submodule "frontend"]
	path = frontend
url=/Users/rik/Develop/Repositories/boilerplate.git
	branch = master
[submodule "api-server"]
	path = api-server
	url = /Users/rik/Repositories/example-api-server
	branch = master
